@using ShopAdmin.Common
@using ShopAdmin.Dto.Products
@using ShopAdmin.Helper

@{
    var lstSPNew = ViewBag.ListSPNew as List<ProductDto>;
    var lstSPBanChay = ViewBag.ListSPBanChay as List<ProductDto>;
}
<style>
    .popup {
        position: fixed;
        z-index: 1000;
        top: 0;
        height: 100vh;
        width: 100%;
        transition: opacity 0.5s ease;
        opacity: 0; /* Start with opacity 0 */
    }

        .popup.show {
            opacity: 1; /* Change to opacity 1 when shown */
        }

        .popup .popup-overlay {
            height: 100%;
            background-color: #414141;
            opacity: 0.7;
            width: 100%;
            position: fixed;
        }

        .popup .content {
            position: relative;
            margin: auto;
            place-self: center;
            height: 100%;
            align-content: center;
        }

            .popup .content img {
                height: calc(100vh * 0.8);
                cursor: pointer;
            }

    .close-icon {
        position: absolute;
        right: 10px;
        cursor: pointer;
        z-index: 1001;
        color: #fff;
        top: calc(10% + 10px);
        font-size: 35px;
    }
</style>

<div class="popup">
    <div class="popup-overlay"></div>
    <div class="content" id="popup-content">
        <img src="/Images/popup.jpg" />
        <span class="icon-close-ico-tsd close-icon" title="Đóng" onclick="$('.popup').remove()"></span>
    </div>
</div>
@*
<section class="hero">
    <div class="hero-content">
        <div class="hero-text"> *@
@* <h2>Bộ Sưu Tập Mùa Thu 2024</h2>
            <p>Khám phá những xu hướng thời trang mới nhất với chất lượng cao cấp và thiết kế độc đáo</p>
            <button class="cta-btn">Khám Phá Ngay</button> *@
@* <img loading="lazy" src="/Images/banner.jpg" /> *@
@*         </div>
    </div>
</section> *@
<section class="banner">
    <div class="banner-img" style="justify-self: center;">
        <img src="/Images/banner.jpg" />
    </div>
</section>

<!-- Products Section -->
<section class="products">
    <div class="container">
        <div class="products-header jus-center text-uppercase">
            <h2 class="section-title">Sản Phẩm Mới</h2>
        </div>
        <div class="products-grid" id="productsGrid">
            @foreach (var product in lstSPNew)
            {
                var isSaleOff = product.PriceDiscount.HasValue && product.PriceDiscount > 0;

                <div class="product-card fade-in" data-product="@product.Id" data-name="@(SlugHelper.GenerateSlug(product.Name))">
                    <div style="position: relative;">
                        <img loading="lazy" src="@(product.ImageUrl.FirstOrDefault())" alt="@product.Name" class="product-image">
                        @if (isSaleOff)
                        {
                            <div class="product-badge badge-sale">SALE</div>
                        }
                    </div>
                    <div class="product-info">
                        <h3 class="product-name">@product.Name</h3>
                        <div class="product-price">
                            @if (isSaleOff)
                            {
                                <span class="original-price">@(product.Price.ToStringNumber())&nbsp;₫</span>
                                <span class="current-price">@(product.PriceDiscount.ToStringNumber())&nbsp;₫</span>
                            }
                            else
                            {
                                <span class="current-price">@(product.Price.ToStringNumber())&nbsp;₫</span>
                            }

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<!-- Products Section -->
<section class="products">
    <div class="container">
        <div class="products-header jus-center text-uppercase">
            <h2 class="section-title">Sản Phẩm Bán Chạy</h2>
        </div>
        <div class="products-grid" id="productsGrid">
            @foreach (var product in lstSPBanChay)
            {
                var isSaleOff = product.PriceDiscount.HasValue && product.PriceDiscount > 0;

                <div class="product-card fade-in" data-product="@product.Id" data-name="@(SlugHelper.GenerateSlug(product.Name))">
                    <div style="position: relative;">
                        <img src="@(product.ImageUrl.FirstOrDefault())" alt="@product.Name" class="product-image">
                        @if (isSaleOff)
                        {
                            <div class="product-badge badge-sale">SALE</div>
                        }
                    </div>
                    <div class="product-info">
                        <h3 class="product-name">@product.Name</h3>
                        <div class="product-price">
                            @if (isSaleOff)
                            {
                                <span class="original-price">@(product.Price.ToStringNumber())&nbsp;₫</span>
                                <span class="current-price">@(product.PriceDiscount.ToStringNumber())&nbsp;₫</span>
                            }
                            else
                            {
                                <span class="current-price">@(product.Price.ToStringNumber())&nbsp;₫</span>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>


@section scripts {
    <script src="/js/Shop/home.js"></script>
    <script>
        $(document).ready(function () {
            if (showPopup){
                // Show the popup after a delay (e.g., 2 seconds)
                setTimeout(function () {
                    $('.popup').addClass('show');
                }, 1000); // 2000 milliseconds = 2 seconds
            }
            
        });
    </script>
}
